.product{
    width: 300px;
    height: 510px;
    border: 2px solid #d2d3d3;
    margin: 7px;
    border-radius: 8px;
    position: relative;
}


.product img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}
.product-name{
    font-family: 'lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-top: 0px;
    margin-bottom: 1px;
    
}
.product-info{
    margin-top: 5px;
    margin-left: 10px;
    
}
.button-cart{
    width: 100%;
    background-color: rgb(211, 173, 104);
    border-radius: 0 0 6px 6px;
    position: absolute;
    bottom: 0px;
    border: none;

}
.button-cart:hover{
    background-color: orange;
    color: aliceblue;
}